.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.h1-faq {
  font-size: 42px;
  color: var(--text-primary);
  margin: 0;
  margin-bottom: 30px;
}

.accordion__faq > div {
  background-color: var(--white);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.accordion__faq > div:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.accordion__title {
  color: var(--text-secondary);
  padding-bottom: 20px;
  font-weight: 500;
}

.accordion__faq-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion__faq-heading h3 {
  color: var(--text-secondary);
  font-weight: 600;
  margin: 0;
}

.accordion__faq p {
  margin-top: 10px;
  color: var(--text-secondary);
  line-height: 1.4;
  /* display: none; */
}

.accordion-simple > .active {
  display: block;
}

.accordion__faq .inactive{
  display: none;
}