body {
  font-family: 'Arial', sans-serif;
 
  background-color: #f4f4f4;
}

.complAss_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 100px;
}

.complAss_card {
  
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  max-width: 200px; /* Adjust this value as needed */
  height: 200px; /* Set height to be the same as the width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform property for hover effect */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  background-color: #f0f0f0;
  transform: scale(1.01); /* Zoom in effect on hover */
  border-color: #244065;
  box-shadow: #244065 ;
}

h2 {
  color: #0b0b0b;
  font-weight: 700;
  font-size: 1.2em; /* Adjust the font size */
  margin-bottom: 2px; /* Add some spacing between title and description */
}

p {
  color: #244065;
  font-size: 0.9em; /* Adjust the font size */
}

.text-input-container {
  position: fixed;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50%; /* Adjust the width as needed */
  background-color:#244065 ;
  padding: 5px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9em; /* Adjust the font size */
}

.selected-response-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
}

.selected-card,
.response-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: calc(50% - 20px); /* Adjust the width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.response-card {
  margin-top: 20px; /* Add margin between selected and response cards */
}
