.container {
  justify-content: space-around;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5%;
  margin-left: 100px;
  align-items: flex-start;
  margin-right: 100px;
}

.top-bar button {
  background-color: #244065;
  border-radius: 80cap;
  height: 4%;
  width: 13%;
}

.intro p {
  color: black;
  font-weight: 700;
  
}


.tourbutton p {
  color: aliceblue;
  height:10px;
}

.tourbutton{
  display: flex;
  justify-content: space-evenly;
  color: #ccc;
}
.mainCard {
  width: 50%;
  height: 250px;
  border: 2px solid #244065;
  border-radius: 15px;
  /* box-shadow: 0 2px 4px rgb(0, 0, 0); */
  padding: 20px;
  margin-left: 100px;
  margin-top: 2.5%;
}

.textM {
  margin-left: 100px;
  margin-top: 50px;
  font-weight: 600;
}

.dropbtn {
  background-color: #c8d8ed;
  cursor: pointer;
  justify-content:space-between;
}
.dropbtn {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 30px;
  border-radius: 5px;
}

.cards {
  display: flex;
  margin-left: 50px;
  margin-right: 100px;
}

.logos {
  display: flex;
  justify-content:space-evenly;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card1 {
  width: 33%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);

  margin-left: 50px;

  margin-bottom: 100px;
  margin-right: 0px;
}

.head {
  margin-left: 20px;
  margin-right: 20px;
}
.user-avatar{
  border-radius: 100px;
  height: 50%;
  width: 50%;
}
.user-avatar-con{
  display: flex;
  justify-content: right;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  /* Avatar image size styles */
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  display: none;
}

.dropdown-content a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: #333;
}

.avatar-dropdown:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
}

.dropdown-content div:hover{
  font-weight: 600;
}
.equal-sign{
  font-size: 30px;
}